# see https://hub.docker.com/_/gcc/
image: gcc

stages:
  - build
  - test

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  before_script:
    - apt update && apt -y install make cmake libboost-dev libboost-program-options-dev libgtest-dev
    - mkdir -p /usr/src/googletest/googletest/build
    - cd /usr/src/googletest/googletest/build
    - cmake -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles" ..
    - cmake --build . -- -j10
    - cd "$CI_PROJECT_DIR"
    - mkdir -p build
    - cd ./build
    - cmake -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles" ..
  script:
    - cmake --build . -- -j10
  artifacts:
    paths:
      - build/
  cache:
    key: builddirs
    paths:
     - build/
     - /usr/src/googletest/googletest/build/

# run tests using the binary built before
test:
  stage: test
  script:
    - $CI_PROJECT_DIR/build/webpptest
  cache:
    key: builddirs
    paths:
     - build/
     - /usr/src/googletest/googletest/build/


