*.autosave
.clangd/
.SpaceVim.d/
.project_alt.json
compile_commands.json
**/*.autosave
*.swp
**/*.swp
*.user
**/*.user
*~
**/*~
build-*/
build/
.vscode/
.idea/
.project
cmake-build-*/
.kdev4
webpp.kdev4
*.plist
.ccls-cache
/.cache/
.theia/
.ccls
.gdbinit
.clangd
