*.autosave
.clangd/
.SpaceVim.d/
.project_alt.json
compile_commands.json
**/*.autosave
*.swp
**/*.swp
*.user
**/*.user
*~
**/*~

# CMake Build directories
build-*/
build/

Testing/

# Visual Studio code workspace settings
!.vscode
.vscode/*
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json

# Visual Studio
/.vs

# CLion's configs are a mess; this url didn't help either: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
.idea

.project
cmake-build-*/
.kdev4
webpp.kdev4
*.plist
.ccls-cache
/.cache/
.theia/
.ccls
.gdbinit
.clangd
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
CPM_modules/
_deps/
cpm-package-lock.cmake
/.PVS-Studio/
